 <!-- Ajax script here? or use cloudinary?-->
    <div>
        <div class="uk-container uk-padding-large uk-margin-large uk-margin-xlarge-top">
            <div class="uk-column-1-1@s uk-column-1-2 uk-column-divider">
                <img class="uk-align-center" id="profilePic-sec" src="https://img.icons8.com/ios-filled/100/000000/artist.png" height="150" width="150" alt="usersPhoto"/>
                <h4 class="uk-text-center">Display Name: <span>{{user_name}}</span></h4>
                <br> <br>
                <h4 class="aboutTxt uk-text-left">Biography: <br><span>{{bio}}</span></h4>
                <h4>My Contact Information:</h4>
                 <div class="socialButtons">
                    {{#if twitter}}
                    <a href="{{twitter}}" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                    {{/if}}
                    {{#if facebook}}
                    <a href="{{facebook}}" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                    {{/if}}
                    {{#if instagram}}
                    <a href="{{instagram}}" class="uk-icon-button  uk-margin-small-right" uk-icon="instagram"></a>
                    {{/if}}
                    {{#if linkedin}}
                    <a href="{{linkedIn}}" class="uk-icon-button  uk-margin-small-right" uk-icon="linkedin"></a>
                    {{/if}}
                    {{#if email}}
                    <a href="mailto:{{ email }}" class="uk-icon-button  uk-margin-small-right" uk-icon="mail"></a>
                    {{/if}}
                </div>

            <br>
            <!-- Modal to update user info-->
            <a class="updateUserInfo uk-button uk-button-default" href="#modal-sections" uk-toggle>Update User Information</a>


            <div id="modal-sections" uk-modal>
                <div class="dashboardForm uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="updateHeaderDashboard uk-modal-title">Update User Information</h2>
                    </div>
                    <div class="uk-modal-body">
                        <form class="uk-form-stacked">
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    <label class="email" for="email">Email</label>
                                    <input class="uk-text uk-form-blank updateEmail" value="{{email}}" id="email" placeholder="example@domain.com"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="userName" for="user_name">Display Name</label>
                                    <input class="uk-text uk-form-blank" value="{{user_name}}" id="user_name" placeholder="Display Name"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="linkedIn" for="linkedin">LinkedIn</label>
                                    <input class="uk-text uk-form-blank" value="{{linkedin}}" id="linkedin" placeholder="LinkedIn"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="instagram" for="instagram">Instagram</label>
                                    <input class="uk-text uk-form-blank" value="{{instagram}}" id="instagram" placeholder="Instagram"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="facebook" for="facebook">Facebook</label>
                                    <input class="uk-text uk-form-blank" value="{{facebook}}" id="facebook" placeholder="Facebook"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="twitter" for="twitter">Twitter</label>
                                    <input class="uk-text uk-form-blank" value="{{twitter}}" id="twitter" placeholder="Twitter"></input>
                                </div>
                                 <div class="uk-margin">
                                    <label class="isArtistAccountDashboard" for="email">Artist Account</label>
                                    <input class="uk-checkbox" type="checkbox" id="artist" default="{{isArtist}}"></input>
                                </div>
                                <div class="uk-margin">
                                    <label class="bioDash" for="bio">Bio</label>
                                    <textarea class="uk-textarea updateBioDashboard" rows="5" id="text">{{bio}}</textarea>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="cancelButtonDashboard uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="saveButtonDashboard uk-button uk-button-primary" type="button" id="updateInfo">Save</button>
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>
    </div>
    <br><br>
    <!--container for gallery-->
    <section class="uk-container uk-container-xsmall gallery-section artwork">
                <!-- Current Artwork slideshow-->
        <div class="uk-container uk-margin-large">
            <h1 class="uk-heading-small">Current Artwork</h1><br>
            {{#if artworks.length}}   
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="sets: true">
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m">
                    {{#each artworks as |artwork|}}
                        <li>
                            <img class="dashboardArtSlideShow" src="{{artwork.path}}" alt="{{artwork.description}}">
                            <div class="uk-position-center uk-panel"></div>
                        </li>
                    {{/each}}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
            {{else}}
            <h2>You do not have any artwork added. To add to your gallery, please upload an image of your artwork.</h2>
            {{/if}}

        <!-- Modal to add Artwork-->
            <br><br>
            <a class="addNewArtWork uk-button uk-button-default" href="#modal_sections" uk-toggle>Add New Artwork</a><br>
                <br><div id="modal_sections" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uploadArtwork uk-modal-title">Upload Artwork</h2>
                        </div>
                        <div class="uk-modal-body">
                            <form class="uk-form-stacked" action="/api/upload" method="post" enctype="multipart/form-data">
                                <div class="uk-margin">
                                    <div class="field">
                                        <label class="imageText" for="title">Image</label>
                                        <br>
                                        <input type="file" name="image" id="fileElem" accept="image/*"></input>
                                        <div id="fileList">
                                            <br><p>No files selected!</p>
                                        </div>
                                </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="field">
                                        <label class="uk-form-label artworkName" for="name">Artwork Name</label>
                                        <div class="uk-form-controls">
                                            <input class="artworkNameInput uk-input" id="name" name="name" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin field">
                                    <div class="field">
                                        <label class="uk-form-label artworkDescription" for="description">Artwork Description</label>
                                        <div class="uk-form-controls">
                                            <input class="artworkDescriptionInput uk-input" id="form-stacked-text" type="text" name="description" placeholder="Enter Description">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin field">
                                    <div class="field">
                                        <label class="uk-form-label artworkCategory" for="category">Artwork Category</label>
                                        <div class="uk-form-controls">
                                            <select class="artworkCategoryInput uk-select" id="category" name="category">
                                                <option>Painting</option>
                                                <option>Sculpture</option>
                                                <option>Photography</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="finalCancelButton uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="finalSaveButton uk-button uk-button-primary field" type="submit" id="addNewArt">Save</input>
                        </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="bottomCancelButton uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="bottomSaveButton uk-button uk-button-primary" type="button" id="addNewArt">Save</button>
            </div>
        </div>

    </section>
<script type="text/javascript" src="/js/dashboard.js"></script>
    
<script>
const
    fileElem = document.getElementById("fileElem"),
    fileList = document.getElementById("fileList");

fileElem.addEventListener("change", handleFiles, false);

function handleFiles() {
  if (!this.files.length) {
    fileList.innerHTML = "<p>No file selected!</p>";
  } else {
    fileList.innerHTML = "";
    const list = document.createElement("ul");
    fileList.appendChild(list);
    for (let i = 0; i < this.files.length; i++) {
      const li = document.createElement("li");
      list.appendChild(li);

      const img = document.createElement("img");
      img.src = URL.createObjectURL(this.files[i]);
      img.id = "file";
      img.height = 60;
      img.onload = function() {
        URL.revokeObjectURL(this.src);
      }
      li.appendChild(img);
      const info = document.createElement("span");
      info.innerHTML = this.files[i].name + ": " + this.files[i].size + " bytes";
      li.appendChild(info);
    }
  }
}
</script>
