<div class="uk-section uk-section-medium uk-section-muted">
    <h1 class="uk-heading-medium uk-text-center">{{art.category}}</h1>
    <div class="mason uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-medium uk-grid-row-large uk-flex uk-padding-large" data-uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400;" uk-grid="masonry: true">
        {{#each artworks as |art|}}
        <div class="artwork" data-id="{{art.id}}">
            <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" data-id="{{art.id}}"><img data-id="{{art.id}}" src="{{art.path}}"/></div>
        </div>
        {{/each}}
    </div>
</div>
<script type="text/javascript" src="/js/matrix.js"></script>
